
h1{
    color: #8806b0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}

.Play{  
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    /* padding: 10px 0; */
    background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#8222AA));
    background: -moz-linear-gradient(top, #000000, #8222AA);
    filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#000000', EndColorStr='#8222AA'); 

}
.logo{
    width: 500px;
    /*height: 100px;*/
}
.telas{
    width: 500px;
    /*height: 100px;*/
}
.playO{
    width: 50vw;
}
